@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  * {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.05rem;
  }

  *, ::after, ::before {
    @apply box-border;
  }

  html, body {
    @apply scroll-smooth;
    @apply h-full;
  }

  body {
    @apply m-0
  }

  #root, #App {
    @apply w-full h-full;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight;
  }

  address {
    @apply not-italic;
  }

  input:focus {
    @apply outline-none;
    @apply shadow-none;
  }

  textarea:focus {
    @apply outline-none;
    @apply shadow-none;
  }
}